# Eclipse / STM32CubeIDE
.metadata/

# Build folders
**/Debug/
**/Release/

# Compiled files
*.o
*.d
*.elf
*.map
*.log
*.pdom
*.su

# OS
.DS_Store
Thumbs.db
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/BALi_BlckP.1767708467035.pdom
.metadata/.plugins/org.eclipse.cdt.ui/BALi.build.log
.metadata/.plugins/org.eclipse.cdt.ui/BALO.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_BlckP/.indexes/c4/2/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_BlckP/.indexes/c4/41/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_BlckP/.indexes/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_BlckP/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_BlckP/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_BlckP/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_NucF401/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALi_NucF401/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALO/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/BALO/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BALO/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BLINK2_BlckP/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BLINK2_BlckP/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MCAL/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MCAL/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/4.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
BALi_BlckP/.cproject
BALi_BlckP/.project
BALO/Debug/libBALO.a
BALO/Debug/makefile
BALO/Debug/sources.mk
BALO/Debug/Src/subdir.mk
